@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.btn-primary{
    color: #ffff;
    font-size: 20px;
    padding: 20px 50px;
    background-color: #FF5959;
    border: 0;
    border-radius: 5px;
    margin-top: 15px;
}
/* header styles */
header{
    width: 100%;
    min-height: 600px;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(14, 13, 13, 0.11)), url("/images/donation5.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: relative;
}
.header-container{
    position: absolute;
    top: 20%;
    left: 23%;
    text-align: center;
    padding: 20px;
    color: #ffff;
}
.header-title{
    font-size: 70px;
    font-weight: bold;
    padding: 10px;
}
.header-subtitle{
    padding: 5px;
    color: #ffffff81;
}
/* main styles */
main{
    margin: 0 180px;
}
.header-container{
    margin: 15px 0;
}
.donation-details{
    display: flex;
    gap: 20px;
    padding: 40px;
    margin: 30px 0;
}
.donation-details-container{
    width: 50%;
    padding: 30px;
    margin: 0 auto;
}
.donation-title{
    font-size: 50px;
    font-weight: bold;
    padding: 20px 0;
}
.donation-subtitle{
    font-size: 20px;
    padding: 10px 0;
}
.donation-details img{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    border-radius: 5px;
}